# Model Training

### Import Data and Required Packages

***Importing Pandas,Numpy,Matplotlib, Seaborn and Warnings Library***

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

***Import the CSV Data as Pandas DataFrame***

In [38]:
df = pd.read_csv('data\stud.csv')

***Show Top 5 Records***

In [39]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

***Preparing X and Y variables***

In [40]:
X=df.drop(columns=['math_score'],axis=1)

In [41]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [42]:
print("Categories in 'gender' variable:   ",end="  ")
print(df['gender'].unique())

print("Categories in 'race_ethnicity' variable:   ",end="  ")
print(df['race_ethnicity'].unique())

print("Categories in 'parental_level_of_education' variable:   ",end="  ")
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:   ",end="  ")
print(df['lunch'].unique())

print("Categories in 'test_preparation_course' variable:   ",end="  ")
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:     ['female' 'male']
Categories in 'race_ethnicity' variable:     ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in 'parental_level_of_education' variable:     ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:     ['standard' 'free/reduced']
Categories in 'test_preparation_course' variable:     ['none' 'completed']

In [43]:
y = df['math_score']

In [44]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [45]:
# create column Transformers with 3 types of transformers
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features)
    ]
)

In [46]:
X = preprocessor.fit_transform(X)

In [47]:
X.shape

(1000, 19)

In [48]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((800, 19), (200, 19))

***Create an Evaluate Function to give all metrics after model Training***

In [49]:
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_scor = r2_score(true,predicted)
    return mse,mse,r2_scor

In [50]:
models = {
    'Linear Regression': LinearRegression(),
    "Lasso":Lasso(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor":XGBRegressor(),
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    y_train_pred =model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae, model_train_rmse,model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae, model_test_rmse,model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 28.3349
- Mean Absolute Error: 28.3349
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 29.0952
- Mean Absolute Error: 29.0952
- R2 Score: 0.8804
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 43.4784
- Mean Absolute Error: 43.4784
- R2 Score: 0.8071
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 42.5064
- Mean Absolute Error: 42.5064
- R2 Score: 0.8253
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 32.5776
- Mean Absolute Error: 32.5776
- R2 Score: 0.8555
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 52.6066
- Mean Absolute Error: 52.6066
- R2 Score: 0.7838
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0781
- Mean Absolute Error: 0.0781
- R2 Score: 0.9997
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 63.4550
- Mean Absolute Error: 63.4550
- R2 Score: 0.7392
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 5.3080
- Mean Absolute Error: 5.3080
- R2 Score: 0.9765
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 35.8222
- Mean Absolute Error: 35.8222
- R2 Score: 0.8528
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 1.0146
- Mean Absolute Error: 1.0146
- R2 Score: 0.9955
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 41.9037
- Mean Absolute Error: 41.9037
- R2 Score: 0.8278
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 9.2578
- Mean Absolute Error: 9.2578
- R2 Score: 0.9589
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 36.1037
- Mean Absolute Error: 36.1037
- R2 Score: 0.8516
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 33.9054
- Mean Absolute Error: 33.9054
- R2 Score: 0.8496
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 36.2925
- Mean Absolute Error: 36.2925
- R2 Score: 0.8509
===================================

***Results***

In [51]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
0        Linear Regression  0.880433
4  Random Forest Regressor  0.852789
6    CatBoosting Regressor  0.851632
7       AdaBoost Regressor  0.850856
5             XGBRegressor  0.827797
1                    Lasso  0.825320
2    K-Neighbors Regressor  0.783813
3            Decision Tree  0.739231

## Linear Regression

In [52]:
lin_model = LinearRegression(fit_intercept = True)
lin_model = lin_model.fit(X_train, y_train)
y_pred = lin_model.predict(X_test)
score = r2_score(y_test, y_pred)*100
print("Accuracy of the model is %.2f" %score)

Accuracy of the model is 88.04